@use "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: #1b1b1f;
        color: white;
    }
    a{
        color: white;
    }
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

a{
    text-decoration: none;
}